html
	head
		style.
			.alertbgAPI{
				margin:1vmin auto;
				color: #BBB;
				display: block;
				width: 78vmin;
				height: auto;
				position: relative;
				max-width: 50min;
				border: 1px solid #333;
				background:url('/images/section_bg.png');
				border-radius: 1vmin;top: 29vmin;
			}
		title This Player Site that will receive the Announcement

		link(rel="stylesheet" href="/css/page.error-styles.css")
		
	body
		div#bg-overlays			
			div#center
				div#pageCont
					div.pageNotFound-container
						span#imgPS.image
						p#messagePS.message Example of Player Site that will receive the Announcement.
						
	script(src='/socket.io/socket.io.js')
	script(src='/js/scripts.js')